/* Global Styles */
:root {
  --primary-color: #ffba18;
  --dark-color: #000;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  background-color: #012a4a;
  color: #fff;
  font-family: 'Noto Sans SC', sans-serif;
}
a{
  color: inherit;
}
.container {
  height: 100vh;
  position: relative;
}

.landing {
  position: relative;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.create-game {
  width: 150px;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.1rem;
  background-color: #014f86;
  color: white;
  transition: all 0.2s;
}
.create-game:hover {
  background-color: #468faf;
}

.create-game:hover {
  cursor: pointer;
}
.create-game-container {
  height: 100%;
}
.create-game-container-inner {
  padding: 100px 100px;
  height: 100%;
}
.create-game-heading {
  display: flex;
  justify-content: center;
}

.game-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input-field {
  width: 390px;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  padding-left: 10px;
}
.questions-heading {
  margin-top: 15px;
}
.question-box {
  display: flex;
  flex-direction: column;
  border: 1px white solid;
  padding: 15px 15px;
}
.questions-container {
  margin-top: 20px;
}
.questions-box-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.add-more {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  color: black;
  line-height: 2.3rem;
  font-size: 2rem;
  transition: all 0.4s;
}
.delete-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  color: black;
  display: flex;
  font-size: 1.2rem;
  transition: all 0.4s;
  justify-content: center;
  align-items: center;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
.add-more:hover,
.delete-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.game-id-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.clipboard-container{
  display: flex;
  flex-direction: row;
  
  border: 1px solid white;
}
.game-link{
  padding: 10px;
}
.clipboard-icon{
  background-color: white;
}
.clipboard-icon:hover{
  cursor: pointer;
  background-color: rgb(200, 200, 200);
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
 margin-left: 10px;
 top:-10px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  
}
.game-container{
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 600px;
  width: 620px;
}
.figure-container{
  margin-top: 60px;
  fill:transparent;
  stroke: #ffffff;
  stroke-width: 4px;
  stroke-linecap: round;
}
.figure-part{
  display: none;
}
.wrong-letters-container{
  position: absolute;
  top:20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;

}

.wrong-letters-container p{
  margin: 0 0 5px;
}
.wrong-letters-container span{
 font-size: 24px;
}
.word{
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.letters{
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px
}
.popup-container{
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top:0;
  bottom: 0;
  left:0;
  right:0;
 
  display: none;
  align-items: center;
  justify-content: center;
}
.popup{
  background: #2980b9;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
}
.popup button{
  cursor: pointer;
  background-color: white;
  color: #2980b9;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
}
.popup button:active{
  transform: scale(0.98);

}
.popup button:focus{
  outline: 0;
}
.notification-container{
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  transition: transform 0.3s ease-in-out;
}
.notification-container p {
  margin: 0;
}
.notification-container.show{
  transform: translateY(-50px);
}
.question-heading{
  font-size: 2.2rem;
}
/* Utilities */
.center{
  text-align: center;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-15 {
  margin-top: 15px;
}
.mb-40 {
  margin-bottom: 40px;
}

/* Font sizes */
.x-large {
  font-size: 5rem;
}
.x-mid {
  font-size: 3rem;
}
