/* Global Styles */
:root {
  --primary-color: #ffba18;
  --dark-color: #000;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  background-color: #012a4a;
  color: #fff;
  font-family: 'Noto Sans SC', sans-serif;
}
.container {
  height: 100vh;
  position: relative;
}

.landing{
  position: relative;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.create-game{
  width: 150px;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.1rem;
  background-color: #014f86;
  color: white;
}
.create-game-container{
  height: 100%;
}
.create-game-container-inner{
  padding: 100px 100px;
  height: 100%;

}
.create-game-heading{
  display: flex;
  justify-content: center;
}
/* Utilities */
.mt-10{
  margin-top: 10px;
}
.mt-30{
  margin-top: 30px;
}

/* Font sizes */
.x-large{
  font-size: 5rem;
}
.x-mid{
  font-size: 3rem;
}
